:root{

    /* Brand */

    --deep-twilight:#03045E;
    --french-blue:#023E8A;
    --bright-teal-blue:#0077B6;
    --blue-green:#0096C7;
    --turquoise-surf:#00B4D8;
    --sky-aqua:#48CAE4;
    --frosted-blue:#90E0EF;
    --frosted-blue-2:#ADE8F4;
    --light-cyan:#CAF0F8;

    /* UI */

    --bg:#F8FAFC;
    --panel:#FFFFFF;
    --border:#E5E7EB;

    --text:#1E293B;
    --text-light:#64748B;

    --radius:10px;

    --transition:.2s;

}