.textarea {
    width: 100%;
    padding: 12px;
    resize: vertical;
    border: 1px solid #D1D5DB;
    border-radius: 10px;
    outline: none;
    font-size: 14px;
}

.textarea:focus {
    border-color: #0096C7;
}